<footer>
	<div id="footer-left">
		<a href="mailto:zainab_iftikhar@brown.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.twitter.com/ziftikha"><i class="fa-lg fa fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/zainabiftikhar"><i class="fa-lg fa fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.linkedin.com/in/zainab-iftikhar/"><i class="fa-lg fa fa-linkedin footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=x9GuCAQAAAAJ&hl=en"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time dcatetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Zainab Iftikhar
	</div>
	<div id="footer-right">
		Zainab Iftikhar is a Ph.D. Candidate at Brown creating collaborative AI-assisted communication interfaces.
	</div>
</footer>